{%extends 'base.html'%}
{%block script1%}{%endblock%}
{%block title%} Homepage {%endblock%}
{%block contents%}
<h1 class="text-center">Augmented Documentation</h1>
<h2 class="text-center">Main modules</h2>
<div class="d-flex justify-content-center">
<br>
{%with filename = filenames%}
{%for i in range(filename|length)%}
<div class="card" style="width: 18rem; margin-right: 1rem; margin-left: 1rem;">
    <div class="card-body">
      <h5 class="card-title">{{filenames[i].split('.html')[0]}}</h5>
      <p class="card-text">The documentation for <b>{{filenames[i].split('.html')[0]}}</b> in "augmented"</p>
      <a href="/docs/{{filenames[i]}}" class="card-link">View {{filenames[i].split('.html')[0]}}</a>
    </div>
  </div>
{%endfor%}
{%endwith%}
</div>
<h2 class="text-center">Sub modules</h2>
<div class="d-flex justify-content-center">
<br>
{%with filename = filenames2%}
{%for i in range(filename|length)%}
<div class="card" style="width: 18rem; margin-right: 1rem; margin-left: 1rem;">
    <div class="card-body">
      <h5 class="card-title">{{filenames2[i].split('.html')[0]}}</h5>
      <p class="card-text">The documentation for <b>{{filenames2[i].split('.html')[0]}}</b> in "augmented"</p>
      <a href="/docs/submodules/{{filenames2[i]}}" class="card-link">View {{filenames2[i].split('.html')[0]}}</a>
    </div>
  </div>
{%endfor%}
{%endwith%}
</div>

{%endblock%}

{%block script2%}{%endblock%}